# ===== Android =====
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ===== 后端敏感信息 =====
target/
application-druid.yml
application.yml
*.log
*.jks
*.keystore
secrets.properties